/*- Custom style -*/

// -- Put custom style under this point -- //

.bot-thumbnail {
  background-color: #444;
  color: #fff;
  border-radius: 5px 5px 0px 0px;
  font-size: 150%;
  width: 200px;
  height: 160px;
  margin: 0px;
  padding: 0px;
}

.bot-thumbnail:hover {
  background-color: #4A4A4A;
}

.bot-description {
  background-color: #222;
  color: #ccc;
  border-radius: 0px 0px 5px 5px;
  padding: 0px 10px 3px 10px;
  font-size: 12px;
  font-weight: normal;
  width: 200px;
  height: 20px;
  text-align: center;
}

.bot-label {
  background-color: #222;
  color: #fff;
  padding: 0px;
  font-size: 24px;
  width: 200px;
  height: 28px;
  border-radius: 0px;
  margin: 0px;

  text-align: center;
}

#bots {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
}


.contact-form{
  margin: auto auto;
  color: $text-color;
  border-radius: 10px;
}

.contact-form label {
	display:block;
	margin-bottom: 10px;
  background: $main-color;
  font-size: 10pt;
  padding: 5px 10px;
}

.contact-form label > span{
	display: inline-block;
	float: left;
	width: 150px;
}

.contact-form input
{
  display:block;
	border: none;
	width: 100%;
	outline: none;
	padding: 10px;
  color: $text-color;
  background: transparent;
  font-size: 16pt;
}
.contact-form textarea{
  display: block;
	padding: 10px;
	outline: none;
  border: none;
  width: 100%;
  height: 200px;
  margin: auto;
  color: $text-color;
  resize: none;
  background: transparent;
  font-size: 16pt;
}

.contact-form input:focus,
.contact-form textarea:focus
{
	background-color: lighten($main-color, 1%);
}

.contact-form input[type=submit],
.contact-form input[type=button]{
	background: lighten($main-color, 10%);
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: $text-color;
  float: right;
}
.contact-form input[type=submit]:hover,
.contact-form input[type=button]:hover{
background: $main-color;
}

.part{
  width: 100%;
  margin: 20px auto;
  border-spacing: 0px;
}

.part td{
  padding: 6px;
}

.part .part-link{
  width: 20%;
  text-align: right;
  border-right: 1px solid $main-color;
}

.part .part-weight{
  width: 40%;
  border-left: 1px solid $main-color;
}

.part .part-description{
  border-left: 1px solid $main-color;
  border-right: 1px solid $main-color;
  border-bottom: 1px solid $main-color;
}

.part .part-name, .part .part-top{
  font-weight: bold;
  background-color: $main-color;
}

.part .part-top{
  text-align: right;
}

.part .part-name:target{
  font-weight: bold;
  color: lighten($target-color,5%);
}

.part .part-name:target::before{
  content: " > ";
}

.icon{
  margin-right: 3px;
}

ul, ol{
  margin-left: 20px;
  margin-bottom: 0px;
}

#page > ul, #page > ol{
  margin-bottom: 20px;
}

#parts-summary {
  margin: 10px;
}

.togglable {
  border: 1px $main-color solid;
}

.togglable .title{
  display: block;
  padding: 5px;
  background-color: $main-color;
}

.hidden{
  display: none;
}